@{ Layout = ""; }
@model Item_Master_Core.Models.User
<!--
* CoreUI - Free Bootstrap Admin Template
* @@version v2.0.0
* @@link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/datatables.min.css" />
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show bg-light">

    <!--Partial view for top Navbar-->
    @{
        Html.RenderPartial("_Topnav");
    }

    <div class="app-body">
        <!--Partial view for side Navbar-->
        @{
            Html.RenderPartial("_Sidenav");
        }

        <main class="main">
            <!--Partial view for breadcrumb section-->
            <partial name="~/Views/Shared/_Breadcrumb.cshtml" />
            <div class="container-fluid">
                <div class="animated fadeIn">
                    @RenderBody()
                </div>
            </div>
        </main>

    </div>

    @{
        Html.RenderPartial("_Footer");
    }
    <!-- VIEW-SCRIPTS -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bs-select")
    @Scripts.Render("~/Scripts/search-view-toggle.js");
    @Scripts.Render("~/bundles/layoutjs")
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
    <!-- /VIEW-SCRIPTS -->
</body>
</html>


