@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/bs-select")
@Styles.Render("~/Content/css")

<div>

    <div class="container-fluid">

        <!-- Page Content -->
        <div class="mx-auto text-center my-4"><h1>Item Master Inquiry</h1></div>

        <hr>
        @Html.Partial("_SearchPartial")
        <div id="searchResults" class="my-5 searchresult mx-4">
            <h5>Search Results</h5>
            <hr />
            <h5 class="text-secondary text-center my-4">Showing 1 - 8 of 8 Results</h5>
            <div class="row">
                <div class="buttons ml-auto my-3">
                    <button class="grid-view-btn btn btn-secondary"><i class="fa fa-th"></i></button>
                    <button class="list-view-btn btn btn-outline-secondary"><i class="fa fa-bars"></i></button>
                </div>
            </div>
            <ul id="gridview" class="row">
                @for (int i = 0; i < 1; i++)
                {
                    <li class="col-12 col-lg-3 col-xxl-2">
                        <a href="@Url.Action("Inquiry", null, new { area = string.Empty, controller = "Item" }, Request.Url.Scheme)">
                            <div class="cnt-block equal-hight" style="height: 349px;">
                                <p><b>30001</b></p>
                                <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                                <h5>MINSA CORN FLOUR REG 2KG</h5>
                                <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                            </div>
                        </a>
                    </li>
                }


                <li class="col-12 col-lg-3 col-xxl-2">
                    <a href="@Url.Action("Edit", null, new { area = string.Empty, controller = "Item" }, Request.Url.Scheme)">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30900</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>OM RAW EP 26/30 WT SHRIMP</h5>
                            <p><span class="text-danger">INACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-lg-3 col-xxl-2">
                    <a href="@Url.Action("Create", null, new { area = string.Empty, controller = "Item" }, Request.Url.Scheme)">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>87678</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>New Item Desc</h5>
                            <p><span class="text-info">Draft</span> - 02/07/19</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-lg-3 col-xxl-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>56455</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>BRM MUESLI 8 CS SHIPPER</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-lg-3 col-xxl-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-lg-3 col-xxl-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-lg-3 col-xxl-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>
                <li class="col-12 col-lg-3 col-xxl-2">
                    <a href="#?">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <p><b>30001</b></p>
                            <figure><img src="https://via.placeholder.com/150" class="img-responsive" alt=""></figure>
                            <h5>MINSA CORN FLOUR REG 2KG</h5>
                            <p><span class="text-success">ACTIVE</span> - 09/09/14</p>
                        </div>
                    </a>
                </li>



            </ul>
            <table id="listview" class="table table-bordered    table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UPC</th>
                        <th>Item Description</th>
                        <th>Status</th>
                        <th>Date Added</th>
                    </tr>
                </thead>
                @for (int i = 0; i < 8; i++)
                {
                    <tr>
                        <td><b>57187</b></td>
                        <td>00041390001901</td>
                        <td><a href="@Url.Action("Inquiry", null, new { area = string.Empty, controller = "Item" }, Request.Url.Scheme)"><h6>MINSA CORN FLOUR REG 2KG</h6></a></td>
                        <td><span class="text-success">ACTIVE</span></td>
                        <td>09/09/14</td>
                    </tr>
                }
            </table>
            </di>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

