@model Item_Master_Core.Models.ItemViewModels.InquiryViewModel
@{
    ViewBag.Title = ViewBag.ItemID;
}

<div class="container-fluid mt-3">
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"><i class="fa fa-long-arrow-left pr-2"></i>Back to Search</a>
    <hr />
    <div class="row">
        <div class="col-12 mb-4">
            <button class="btn btn-lg btn-block btn-danger">Edit Item (Only visible to Admin level)</button>
        </div>
        <div class="col-9">
            <figure><img src="https://www.kikkomanusa.com/images/homecooks/products/00070.png" class="img-responsive" alt="kikkoman soy sauce" height="150"></figure>
            <div class="mb-4">
                <h5><b>Item ID:</b> @Model.item.ItemID</h5>
                <h5><b>Status:</b> <span class="text-success">@Model.item.Status Since - @Model.item.Date.ToShortDateString()</span></h5>
                <h5><b>Product:</b> @Model.item.ItemDescEng / @Model.item.ItemDescFr</h5>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-lg btn-block btn-outline-info">Product Sheet</button>
            <a class="btn btn-lg btn-block btn-outline-primary" href="@Url.Action("SalesReport", null, new { area = string.Empty, controller = "Item", @ItemID=ViewBag.ItemID}, Request.Url.Scheme)">YoY Sales Report</a>
            
        </div>
    </div>
    <hr />
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Vendor / Supplier</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.item.Vendor</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-success h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Brand Manager</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.item.BrandManager</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-info h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Unit UPC</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.item.UnitUPC</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card border-left-warning h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Size</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.item.Size</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Brand</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.item.Brand</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Purchaser</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.item.Purchaser</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Case UPC</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.item.CaseUPC</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Perishable / Seasonal</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">No</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Details -->
    <div class="card shadow mb-2">
        <!-- Card Content - Collapse -->
        <div id="detailed-productinfo">
            <div class="card-body">
                <div class="row container-fluid">
                    <div class="col-lg-6">
                        <span><b>National Product Manager: </b><input type="text" class="form-control-plaintext" value="Keira Hall" readonly /></span>
                        <span><b>Regional Product Manager:</b> <input readonly class="form-control-plaintext" value="Keira Hall" /></span>
                        <span><b>Item Type: </b><input type="text" class="form-control-plaintext" value="Purchased For Resale" readonly /></span>
                        <span><b>Material Type: </b><input type="text" class="form-control-plaintext" value="-" readonly /></span>
                        <span>
                            <b>Product Groups: </b><br />
                            <span class="d-inline-flex">
                                <input type="number" class="form-control-plaintext" value="80" style="width:60px;" readonly>
                                <input type="number" class="form-control-plaintext" value="10" style="width:60px;" readonly>
                                <input type="number" class="form-control-plaintext" value="27" style="width:60px;" readonly>
                                <input type="number" class="form-control-plaintext" value="05" style="width:60px;" readonly>
                            </span>
                        </span><br />
                        <span><b>WT/Case:</b> <input type="text" class="form-control-plaintext" value=" 3.379 KG(s)" readonly /></span>
                        <span><b>Bottle Size:</b> <input type="text" class="form-control-plaintext" value="-" readonly /></span>
                        <span><b>Catalog Code:</b> <input readonly class="form-control-plaintext" value="-" /></span>
                        <span><b>Commission Code:</b> <input readonly class="form-control-plaintext" value="R" /></span>

                    </div>
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>MAC/ Piece</th>
                                    <th>Mississauga</th>
                                    <th>Calgary</th>
                                    <th>Surrey</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MAC</td>
                                    <td>$2.89443</td>
                                    <td>$2.87425</td>
                                    <td>$2.88132</td>
                                </tr>
                                <tr>
                                    <td>Last Month MAC</td>
                                    <td>$2.89443</td>
                                    <td>$2.87425</td>
                                    <td>$2.88132</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Sold by Weight</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Splitable</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Charge for Split</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Rebate Code</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Allow Discount</label>
                        </div>
                        <hr />

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Slow Moving</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                            <label class="custom-control-label" for="customCheck">Hold</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">Print Price List</label>
                        </div>
                        <hr />
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">GST </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked disabled>
                            <label class="custom-control-label" for="customCheck">PST/HST</label>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Supply Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-supplyinfo" class="d-block card-header bg-primary py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-supplyinfo">
            <h6 class="m-0 font-weight-bold text-white">Supply Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-supplyinfo">
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    <b>Currency:</b> USD
                </div>
                <div class="row container-fluid">

                    <div class="col-lg-6">
                        <span><b>Supplier List Price:</b> <input type="text" class="form-control-plaintext" value="$2.09167 / Piece" readonly /></span>
                        <span><b>Price List Expiry:</b> <input type="date" class="form-control-plaintext" value="2019-12-31" readonly /></span>
                        <span><b>Equivalent Case:</b> <input type="text" class="form-control-plaintext" value="1.000 Factor" readonly /></span>
                        <span><b>Supplier Pallet Size:</b> <input type="text" class="form-control-plaintext" value="250" readonly /></span>
                        <span><b>Supplier Item Number:</b> <input type="number" class="form-control-plaintext" value="00190" readonly /></span>
                        <span><b>Suggested Retail:</b> <input type="text" class="form-control-plaintext" value="$6.79 / Piece" readonly /></span>
                        <span><b>Base:</b> <input type="text" class="form-control-plaintext" value="$26.58 / Case" readonly /></span>
                        <span><b>Maximum Discount:</b> <input type="text" class="form-control-plaintext" value="$2.65 / Case" readonly /></span>

                    </div>
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Mississauga</th>
                                    <th>Calgary</th>
                                    <th>Surrey</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>H/S Code</td>
                                    <td>0000000000</td>
                                    <td>0000000000</td>
                                    <td>0000000000</td>
                                </tr>
                                <tr>
                                    <td>T/C Code</td>
                                    <td>00</td>
                                    <td>00</td>
                                    <td>00</td>
                                </tr>
                                <tr>
                                    <td>Duty %</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                    Dimensions 
                                        <select id="dimenToggle" class="form-control-sm">
                                            <option selected value="cm">Metric</option>
                                            <option value="inch">Imperial</option>
                                        </select></th>
                                    <th>Unit</th>
                                    <th>Case</th>
                                    <th>Export</th>
                                </tr>
                            </thead>
                            <tbody id="dimen-table">
                                <tr>
                                    <td>Length</td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-UL" type="number" class="form-control-plaintext" value="5.9" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-CL" type="number" class="form-control-plaintext" value="19.0" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-EL" type="number" class="form-control-plaintext" value="19.0" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Width</td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-UW" type="number" class="form-control-plaintext" value="5.9" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-CW" type="number" class="form-control-plaintext" value="12.8" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-EW" type="number" class="form-control-plaintext" value="12.8" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Height</td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-UH" type="number" class="form-control-plaintext" value="20.1" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-CH" type="number" class="form-control-plaintext" value="21.3" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-2">
                                            <input id="dimen-EH" type="number" class="form-control-plaintext" value="21.3" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inventory Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-warehouseinfo" class="d-block card-header bg-primary py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-warehouseinfo">
            <h6 class="m-0 font-weight-bold text-white">Warehouse / Stock Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-warehouseinfo">
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    <b>Purchase Volume: </b> 0.0052 Cubic Meter / Export Carton
                </div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Warehouse</th>
                            <th colspan="2">Mississauga</th>
                            <th colspan="2">Calgary</th>
                            <th colspan="2">Surrey</th>
                        </tr>
                    </thead>
                    <thead class="thead-light">
                        <tr>
                            <th>Warehouse Location</th>
                            <th colspan="2">KPV 31 A</th>
                            <th colspan="2"> EA 87 B</th>
                            <th colspan="2">JB 65 A</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cases On Hand</td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-invqty" class="font-weight-bold">287</a></td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-invqty" class="font-weight-bold">232</a></td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-invqty" class="font-weight-bold">131</a></td>
                        </tr>

                        <tr>
                            <td>Cases Awaiting Pick</td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-salesorderline" class="font-weight-bold">850</a></td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-salesorderline" class="font-weight-bold">100</a></td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-salesorderline" class="font-weight-bold">150</a></td>
                        </tr>
                        <tr>
                            <td>Cases Unallocated</td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-tag" class="font-weight-bold">0</a></td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-tag" class="font-weight-bold">0</a></td>
                            <td colspan="2"><a href="" data-toggle="modal" data-target="#warehouseModal-tag" class="font-weight-bold">0</a></td>
                        </tr>
                        <tr>
                            <td>Cases Available</td>
                            <td colspan="2">284</td>
                            <td colspan="2">232</td>
                            <td colspan="2">129</td>
                        </tr>
                        <tr>
                            <td>Quantity on Order</td>
                            <td colspan="2">500</td>
                            <td colspan="2">250</td>
                            <td colspan="2">100</td>
                        </tr>
                        <tr>
                            <td>Quantity on PDRs</td>
                            <td colspan="2">0</td>
                            <td colspan="2">0</td>
                            <td colspan="2">0</td>
                        </tr>
                        <tr>
                            <td>M/E On Hand</td>
                            <td colspan="2">232</td>
                            <td colspan="2">151</td>
                            <td colspan="2">115</td>
                        </tr>
                        <tr>
                            <td>Quantity Returned</td>
                            <td colspan="2">0</td>
                            <td colspan="2">0</td>
                            <td colspan="2">0</td>
                        </tr>
                        <tr class="table-success">
                            <td>Value of Inventory</td>
                            <td colspan="2">$4029.05</td>
                            <td colspan="2">$1054.87</td>
                            <td colspan="2">$2342.00</td>
                        </tr>

                    </tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th>Shipment Dimensions</th>
                            <th>Vendor</th>
                            <th>DC</th>
                            <th>Vendor</th>
                            <th>DC</th>
                            <th>Vendor</th>
                            <th>DC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tie</td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="50" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="42" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="50" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="50" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="50" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="50" readonly>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tier</td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="5" readonly>
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="5" readonly>
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="5" readonly>
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="5" readonly>
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="5" readonly>
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control-plaintext" value="5" readonly>
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-warning">
                            <td>Picks Last</td>
                            <td colspan="2">127 MTD / 1201 YTD</td>
                            <td colspan="2">17 MTD / 101 YTD</td>
                            <td colspan="2">77 MTD / 601 YTD</td>
                        </tr>
                        <tr class="table-warning">
                            <td>Picks Current</td>
                            <td colspan="2">127 MTD / 1201 YTD</td>
                            <td colspan="2">17 MTD / 101 YTD</td>
                            <td colspan="2">77 MTD / 601 YTD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade " id="warehouseModal-invqty">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Inventory Qty Movement for Mississauga
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="clearfix">
                            <btn class="btn btn-outline-secondary" style="cursor:pointer;"><i class="fa fa-chevron-left" aria-hidden="true"></i></btn>
                            <span class="btn border-0 disabled text-dark">Fiscal Year <b class="text-primary">19</b> --- Period <b class="text-primary">12</b></span>                     
                            <btn class="btn btn-outline-secondary" style="cursor:pointer;"><i class="fa fa-chevron-right" aria-hidden="true"></i></btn>
                            <h5 class="float-right">Total Sales: 308</h5>
                        </div>
                        
                        <hr />
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>Alt. Loc</th>
                                    <th>Amount</th>
                                    <th>Date/Time</th>
                                    <th>Referral #</th>
                                    <th>Cases/Pieces</th>
                                    <th>User</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PURCHASES-QTY & $$</td>
                                    <td>0</td>
                                    <td>$13,438.18</td>
                                    <td>3/27/19 19:22</td>
                                    <td>0246782</td>
                                    <td>750/0</td>
                                    <td>CXDUONG</td>
                                </tr>
                                <tr class="border border-bottom-success">
                                    <td colspan="2">/CNC Description/</td>
                                    <td colspan="3">/Transaction Description/</td>
                                    <td colspan="2">/Ship To/</td>

                                </tr>
                                <tr>
                                    <td>PURCHASES-QTY & $$</td>
                                    <td>0</td>
                                    <td>$13,438.18</td>
                                    <td>3/27/19 19:22</td>
                                    <td>0246782</td>
                                    <td>750/0</td>
                                    <td>CXDUONG</td>
                                </tr>
                                <tr class="border border-bottom-success">
                                    <td colspan="2">/CNC Description/</td>
                                    <td colspan="3">/Transaction Description/</td>
                                    <td colspan="2">/Ship To/</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade " id="warehouseModal-salesorderline">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Sales Order Line Inquiry</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="clearfix">
                            <btn class="btn btn-outline-primary" style="cursor:pointer;">Unprinted Pick Slips</btn>
                            
                            <btn class="btn btn-outline-primary active" style="cursor:pointer;">Printed But Not Filled Pick Slips</btn>
                            <h5 class="float-right">Grand Total: 19</h5>
                        </div>

                        <hr />
                        <table class="table table-bordered datatable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Order #</th>
                                    <th>Ship Date</th>
                                    <th>Ship to</th>
                                    <th>Customer Name</th>
                                    <th>Awaiting Pick</th>
                                    <th>Allocated for Pick</th>
                                    <th>Price / Case</th>
                                    <th>PK</th>
                                </tr>

                            </thead>
                            <tbody id="salesorderline-unprinted">
                                <tr>
                                    <td>2149261</td>
                                    <td>4/05/19</td>
                                    <td>201300</td>
                                    <td>METRO ONTARIO 0150</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>25.56</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2149870</td>
                                    <td>4/08/19</td>
                                    <td>704164</td>
                                    <td>GROUPE ADONIS INC (LAVA</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>26.58</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2149925</td>
                                    <td>4/09/19</td>
                                    <td>851205</td>
                                    <td>METRO PLUS INDP 4127</td>
                                    <td>1</td>
                                    <td></td>
                                    <td>25.56</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2149977</td>
                                    <td>4/05/19</td>
                                    <td>120369</td>
                                    <td>MVR CASH CARRY</td>
                                    <td>5</td>
                                    <td></td>
                                    <td>23.70</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade " id="warehouseModal-tag">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Tag Inquiry</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-bordered datatable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tag #</th>
                                    <th>Type</th>
                                    <th>PO #</th>
                                    <th>Location</th>
                                    <th>On Hand Cases</th>
                                    <th>Available Picks</th>
                                    <th>Date Received</th>
                                    <th>Best Before</th>
                                    <th>Lot Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1618582</td>
                                    <td>P</td>
                                    <td>0244390</td>
                                    <td>KPV31A</td>
                                    <td>22</td>
                                    <td>0</td>
                                    <td>11/20/18</td>
                                    <td>8/20/21</td>
                                    <td>41390</td>
                                </tr>
                                <tr>
                                    <td>1644652</td>
                                    <td>P</td>
                                    <td>1491786</td>
                                    <td>KPV31A</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1/22/19</td>
                                    <td>8/20/21</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>1652851</td>
                                    <td>R</td>
                                    <td>0246782</td>
                                    <td>KPV31A</td>
                                    <td>250</td>
                                    <td>250</td>
                                    <td>2/08/19</td>
                                    <td>8/20/21</td>
                                    <td>41390</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade " id="warehouseModal-pdr">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Active/Approved PDR"s</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>PDR #</th>
                                    <th>Required Date</th>
                                    <th>Period</th>
                                    <th>Quantities</th>
                                    <th>Customer Classes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="5" class="table-warning">No Transactions Match</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    <!-- Sales Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-salesinfo" class="d-block card-header bg-primary py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-salesinfo">
            <h6 class="m-0 font-weight-bold text-white">Sales Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-salesinfo">
            <div class="card-body">
                <div class="form-group d-inline-flex">
                    <label for="locPicker1" class="pr-3">Viewing Data For:</label>
                    <select id="locPicker1" class="form-control">
                        <option selected>Combined</option>
                        <option>Mississauga</option>
                        <option>Calgary</option>
                        <option>Surrey</option>
                    </select>
                </div>
                <hr />
                <div class="d-flex">
                    <table class="table table-bordered table-striped col-lg-6">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4">Current Year Totals</th>
                            </tr>
                        </thead>
                        <thead class="thead-dark">
                            <tr>
                                <th>FY2019</th>
                                <th>Cases</th>
                                <th>Net Sales</th>
                                <th>Profit Margin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>P1</td>
                                <td>544</td>
                                <td>10892.57 </td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">1955.22 </a></td>
                            </tr>
                            <tr>
                                <td>P2</td>
                                <td>520</td>
                                <td>13052.19</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">4507.82 </a></td>
                            </tr>
                            <tr>
                                <td>P3</td>
                                <td>472</td>
                                <td>10327.74</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">2550.84</a></td>
                            </tr>
                            <tr>
                                <td>P4</td>
                                <td>464</td>
                                <td>12137.98</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">4492.89</a></td>
                            </tr>
                            <tr>
                                <td>P5</td>
                                <td>288</td>
                                <td>6907.34</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">2009.72</a></td>
                            </tr>
                            <tr>
                                <td>P6</td>
                                <td>473</td>
                                <td>11043.89</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">3047.94</a></td>
                            </tr>
                            <tr>
                                <td>P7</td>
                                <td>448</td>
                                <td>10018.16</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">2309.14</a></td>
                            </tr>
                            <tr>
                                <td>P8</td>
                                <td>291</td>
                                <td>6662.56</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">1608.89</a></td>
                            </tr>
                            <tr>
                                <td>P9</td>
                                <td>522</td>
                                <td>13044.20</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">3978.85</a></td>
                            </tr>
                            <tr>
                                <td>P10</td>
                                <td>514</td>
                                <td>11783.90</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">2857.48</a></td>
                            </tr>
                            <tr>
                                <td>P11</td>
                                <td>369</td>
                                <td>10601.04</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">4020.42</a></td>
                            </tr>
                            <tr>
                                <td>P12</td>
                                <td>0</td>
                                <td>7177.77</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">1804.37</a></td>
                            </tr>
                            <tr class="table-success font-weight-bold">
                                <td>Total</td>
                                <td>4905 <span class="text-danger">(-16.5%)</span></td>
                                <td>116297.48 <span class="text-danger">(-23.0%)</span></td>
                                <td>33337.22 <span class="text-danger">(-21.4%)</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-striped col-lg-6">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4">Previous Year Totals</th>
                            </tr>
                        </thead>
                        <thead class="thead-dark">
                            <tr>
                                <th>FY2018</th>
                                <th>Cases</th>
                                <th>Net Sales</th>
                                <th>Profit Margin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>May</td>
                                <td>289</td>
                                <td>6192.71</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">1265.51 </a></td>
                            </tr>
                            <tr>
                                <td>Jun</td>
                                <td>5504</td>
                                <td>13973.90</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">5342.29 </a></td>
                            </tr>
                            <tr>
                                <td>Jul</td>
                                <td>361</td>
                                <td>7614.08</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">1431.5 </a></td>
                            </tr>
                            <tr>
                                <td>Aug</td>
                                <td>525</td>
                                <td>11086.28</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">2109.28 </a></td>
                            </tr>
                            <tr>
                                <td>Sep</td>
                                <td>330</td>
                                <td>10587.00</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">4944.32 </a></td>
                            </tr>
                            <tr>
                                <td>Oct</td>
                                <td>616</td>
                                <td>13360.15</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">3120.27 </a></td>
                            </tr>
                            <tr>
                                <td>Nov</td>
                                <td>636</td>
                                <td>15604.34</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">5059.97 </a></td>
                            </tr>
                            <tr>
                                <td>Dec</td>
                                <td>595</td>
                                <td>13758.66</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">3911.67 </a></td>
                            </tr>
                            <tr>
                                <td>Jan</td>
                                <td>334</td>
                                <td>9757.36</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">4260.71 </a></td>
                            </tr>
                            <tr>
                                <td>Feb</td>
                                <td>543</td>
                                <td>11217.73</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">2308.44 </a></td>
                            </tr>
                            <tr>
                                <td>Mar</td>
                                <td>729</td>
                                <td>16102.53</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">4141.43</a></td>
                            </tr>
                            <tr>
                                <td>Apr</td>
                                <td>561</td>
                                <td>12900.45</td>
                                <td><a href="" data-toggle="modal" data-target="#salesModal-0" class="font-weight-bold">3688.82</a></td>
                            </tr>
                            <tr class="table-success font-weight-bold">
                                <td>Total</td>
                                <td>6023</td>
                                <td>142155.19</td>
                                <td>41584.22</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- The Modal -->
                    <div class="modal fade " id="salesModal-0">
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Sales Orders for - Period 09/FY19 - 57187</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <table class="table table-bordered datatable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Order #</th>
                                                <th>Invoice #</th>
                                                <th>Ship To Location</th>
                                                <th>Customer Name</th>
                                                <th>Quantity</th>
                                                <th>Case Price</th>
                                                <th>Sales</th>
                                                <th>Margin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2096039</td>
                                                <td>2156609</td>
                                                <td>806626</td>
                                                <td>METRO ONTAR</td>
                                                <td>1</td>
                                                <td>25.56</td>
                                                <td>25.56</td>
                                                <td>8.19</td>
                                            </tr>
                                            <tr>
                                                <td>2096098</td>
                                                <td>2156513</td>
                                                <td>847364</td>
                                                <td>METRO PLUS</td>
                                                <td>1</td>
                                                <td>25.56</td>
                                                <td>25.56</td>
                                                <td>8.19</td>
                                            </tr>
                                            <tr>
                                                <td>2096901</td>
                                                <td>2156488</td>
                                                <td>850209</td>
                                                <td>METRO PLUS</td>
                                                <td>2</td>
                                                <td>25.56</td>
                                                <td>51.12</td>
                                                <td>16.39</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-pricinginfo" class="d-block card-header bg-primary py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-pricinginfo">
            <h6 class="m-0 font-weight-bold text-white">Pricing Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-pricinginfo">
            <div class="card-body">
                <table class="table table-bordered datatable">
                    <thead class="thead-dark">
                        <tr>
                            <th>Zone Price Name</th>
                            <th>CAN-EAST Price</th>
                            <th>CAN-EAST Target</th>
                            <th>CAN-EAST Margin</th>
                            <th>CAN-WEST</th>
                            <th>CAN-WEST Target</th>
                            <th>CAN-WEST Margin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#?" data-toggle="modal" data-target="#priceModal-0"><b><u>Retail</u></b></a></td>
                            <td>6.79</td>
                            <td>6.79</td>
                            <td>57.37%</td>
                            <td>6.79</td>
                            <td>6.79</td>
                            <td>57.37%</td>
                        </tr>
                        <tr>
                            <td><a href="#?" data-toggle="modal" data-target="#priceModal-0"><b><u>Store Door</u></b></a></td>
                            <td>26.58</td>

                            <td>26.58</td>
                            <td>34.68</td>
                            <td>26.58</td>

                            <td>26.58</td>
                            <td>34.68</td>
                        </tr>
                        <tr>
                            <td><a href="#?" data-toggle="modal" data-target="#priceModal-0"><b><u>Wholesale</u></b></a></td>
                            <td>23.70</td>
                            <td>26.75</td>
                            <td>23.70</td>
                            <td>23.70</td>
                            <td>26.75</td>
                            <td>23.70</td>
                        </tr>
                        <tr>
                            <td><a href="#?" data-toggle="modal" data-target="#priceModal-0"><b><u>Amazon</u></b></a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>27.24</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>23.10</td>
                        </tr>
                    </tbody>
                </table>
                <!-- The Modal -->
                <div class="modal  fade " id="priceModal-0">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Historical Price Changes</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Changed By</th>
                                            <th>Changed On</th>
                                            <th>New CAN-EAST Price</th>
                                            <th>New CAN-WEST Price</th>
                                            <th>CAN-EAST Target</th>
                                            <th>CAN-WEST Target</th>
                                            <th>Date Effective</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>QSYSOPR</td>
                                            <td>06/21/17</td>
                                            <td>6.43</td>
                                            <td>6.43</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                            <td>10/29/17</td>
                                        </tr>
                                        <tr>
                                            <td>HALLKEI</td>
                                            <td>07/05/18</td>
                                            <td>0.00</td>
                                            <td>6.79</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                            <td>09/01/18</td>
                                        </tr>
                                        <tr>
                                            <td>HALLKEI</td>
                                            <td>07/05/18</td>
                                            <td>6.79</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                            <td>09/02/18</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PO Details -->
    <div class="card shadow mb-2">
        <!-- Card Header - Accordion -->
        <a href="#detailed-poinfo" class="d-block card-header bg-primary py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="detailed-poinfo">
            <h6 class="m-0 font-weight-bold text-white">Purchase Order Details</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="detailed-poinfo">
            <div class="card-body">
                <div class="form-group d-inline-flex">
                    <label for="locPicker1" class="pr-3">Viewing Data For:</label>
                    <select id="locPicker1" class="form-control">
                        <option selected>Mississauga</option>
                        <option>Calgary</option>
                        <option>Surrey</option>
                    </select>
                </div>
                <hr />
                <table class="table table-bordered datatable" id="dataTable-poinfo">
                    <thead class="thead-dark">
                        <tr>
                            <th>PO# / MPB</th>
                            <th>Vendor</th>
                            <th>Status</th>
                            <th>Order Date</th>
                            <th>ETA Date</th>
                            <th>Order Quantity</th>
                            <th>Unit</th>
                            <th>Receiving DateTime</th>
                            <th>Quantity received/shipped</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-warning">
                            <td>247206</td>
                            <td>460 - Kikkoman</td>
                            <td>New</td>
                            <td>02/14/19</td>
                            <td>03/14/19</td>
                            <td>500</td>
                            <td>Case</td>
                            <td>-</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>246790</td>
                            <td>460 - Kikkoman</td>
                            <td>Complete</td>
                            <td>01/25/19</td>
                            <td>02/14/19</td>
                            <td>100</td>
                            <td>Case</td>
                            <td>02/14/19 16:52</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>246782</td>
                            <td>460 - Kikkoman</td>
                            <td>Complete</td>
                            <td>01/25/19</td>
                            <td>02/08/19</td>
                            <td>750</td>
                            <td>Case</td>
                            <td>02/11/19 14:56</td>
                            <td>750</td>
                        </tr>
                        <tr>
                            <td>246093</td>
                            <td>460 - Kikkoman</td>
                            <td>New</td>
                            <td>02/14/19</td>
                            <td>03/14/19</td>
                            <td>500</td>
                            <td>CA</td>
                            <td>-</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>245770</td>
                            <td>460 - Kikkoman</td>
                            <td>Costed</td>
                            <td>02/14/19</td>
                            <td>03/14/19</td>
                            <td>500</td>
                            <td>CA</td>
                            <td>-</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').DataTable();
        });
    </script>
    <script type="text/javascript">
        $('#dimenToggle').on('change', function () {
            if ($('#dimenToggle').val() == "cm") {
                $("#dimen-UL").val(($("#dimen-UL").val() / 0.39370).toFixed(2));
                $("#dimen-CL").val(($("#dimen-CL").val() / 0.39370).toFixed(2));
                $("#dimen-EL").val(($("#dimen-EL").val() / 0.39370).toFixed(2));
                $("#dimen-UW").val(($("#dimen-UW").val() / 0.39370).toFixed(2));
                $("#dimen-CW").val(($("#dimen-CW").val() / 0.39370).toFixed(2));
                $("#dimen-EW").val(($("#dimen-EW").val() / 0.39370).toFixed(2));
                $("#dimen-Uh").val(($("#dimen-UH").val() / 0.39370).toFixed(2));
                $("#dimen-CH").val(($("#dimen-CH").val() / 0.39370).toFixed(2));
                $("#dimen-EH").val(($("#dimen-EH").val() / 0.39370).toFixed(2));
                $("#dimen-table .input-group-text").text("cm");
            }
            else {
                $("#dimen-UL").val(($("#dimen-UL").val() * 0.39370).toFixed(2));
                $("#dimen-CL").val(($("#dimen-CL").val() * 0.39370).toFixed(2));
                $("#dimen-EL").val(($("#dimen-EL").val() * 0.39370).toFixed(2));
                $("#dimen-UW").val(($("#dimen-UW").val() * 0.39370).toFixed(2));
                $("#dimen-CW").val(($("#dimen-CW").val() * 0.39370).toFixed(2));
                $("#dimen-EW").val(($("#dimen-EW").val() * 0.39370).toFixed(2));
                $("#dimen-Uh").val(($("#dimen-UH").val() * 0.39370).toFixed(2));
                $("#dimen-CH").val(($("#dimen-CH").val() * 0.39370).toFixed(2));
                $("#dimen-EH").val(($("#dimen-EH").val() * 0.39370).toFixed(2));
                $("#dimen-table .input-group-text").text("inch");
            }
            
        });
    </script>
}
